* {
  box-sizing: border-box;
}

#root{
  background-color: #F7F7F7;
  height: 100%;
}
.course-route-container {
  background-color: #F7F7F7;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-uniquecard {
  border: 1px dashed black;
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: row;
  box-shadow: 12px 12px 12px #354D5E;
}

.course-uniquecard-characteristics {
  width: 70%;
}

.course-uniquecard-second_column {
  width: 30%;
}

.course-uniquecard-main_information {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-uniquecard-second_information {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin: 0;
  width: 100%;
  text-align: center;
}

.space {
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed black;
}

.course-uniquecard-image-plattform {
  width: 15%;
  height: 100%;
}

.comments-length {
  margin-right: 10px;
}

.course-uniquecard-image-course {
  height: 70%;
}

.course-uniquecard-second_column-buttons {
  height: 30%;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}

.course-uniquecard-second_column-button {
  height: 50%;
}

.user-comments-container {
  border-radius: 20px;
  padding: 10px;
  width: 50%;
  align-self: flex-start;
  margin-left: 195px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: #F0F2F5;
}

.user-comments-container .fa-user-astronaut {
  color: black;
  margin-right: 10px;
}

.comment-text {
  font-weight: bold;
  margin: 0;
}

.user-comments-rating {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.modal-question-one {
  text-align: center;
}

.modal-star-container {
  display: flex;
  justify-content: center;
}

i {
  font-size: 30px;
}

.modal-question-two {
  margin-top: 20px;
  text-align: center;
  display: block;
}

.comments-rating-byuser {
  display: flex;
}

.comment-text-review {
  margin: 0;
  padding: 0;
}

.comments-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.fa-trash-alt {
  font-size: 20px;
}

.comment-delete-button,
.comment-edit-button
 {
  background-color: transparent;
  border: none;
}

.fa-comments {
  margin-right: 7px;
}

.fa-edit {
  font-size: 21px;
}

.comments-crud-buttons {
  display: flex;
}
