.filter-card {
  width: 100%;
  padding: 20px;
  margin-left: 20px;
}

.compare-grid {
  display: flex;
  padding-top: 25px;
  background-color: #F7F7F7;
}

.card-filter {
  display: flex;
  flex-direction: column;
}

.compare-courses {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.compare-card {
  width: 80%;
  height: 230px;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.compare-card-image {
  height: 100%;
  width: 80%;
}

.compare-card-second-column {
    height: 100%;
}

.compare-card-instructor {
  text-align: center;
  width: 584px;;
}

.courses-container-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45%;
}

.courses-container-card-plattform-image {
  width: 20%;
  align-self: center;
}

.courses-container-card-listgroups {
  height: 50%;
}

.courses-container-card-details-first {
  width: 20%;
  height: 20%;
}

.fa-hand-holding-usd {
  margin-right: 5px
}

.compare-course-go-button {
  margin-right: 10px;
}

.fa-star {
  font-size: 13px;
  color: #FDB32B;
}

.filter-card-stars {
  display: flex;
}
