@import url('https://fonts.googleapis.com/css?family=Coiny');

.main--menu {
  background-color: #0F0623;
  display: flex;
  justify-content: space-between;
}

.main--menu--first {
  display: flex;
  align-items: center;
}

.main--menu--elements {
  margin-right: 50px;
}

.fa-space-shuttle {
  transform: rotate(270deg);
  font-size: 30px;
  color: #FFFFFF;
}

.main-menu-logo-title {
  font-family: 'Coiny', cursive;
  color: #FFFFFF;
  font-size: 30px;
}

.fa-user-astronaut {
  font-size: 35px;
  color: #FFFFFF;
}

.icon--menu {
  display: flex;
  justify-content: flex-end;
}

.main-menu-link {
  font-family: 'Coiny', cursive;
  color: #FFFFFF;
}

.main-menu-button {
  background-color: transparent;
  border: none;
}

.main-menu-dropdown {
  background-color: transparent;
  border:none;
}

.main-menu-dropdown:hover {
  background-color: transparent
}

.main--menu--second {
  display: flex;
  align-items: center;
}

.username {
  color: white;
  font-family: 'Coiny', cursive;
  font-size: 20px;
  margin: 0;
}
