@import url('https://fonts.googleapis.com/css?family=Coiny');

.courses-main-container {
  margin: 0;
  background-color: #F7F7F7
}
.courses-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.image-card {
  width:286px;
  height:160.88px
}

.courses-container-card {
  margin-right: 50px;
  margin-bottom: 30px;
  box-shadow: 12px 12px 12px #354D5E;
}

.courses-container-card-title {
  text-align: center;
  height: 85px;
  padding: 20px;
}

.courses-header {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 20px 20px 0;
  color: black;
  font-family: 'Coiny', cursive;
  font-size: 25px;
}

.courses-compare-button {
  position: fixed;
  top:120px;
  left: 25px;
  width: 130px;
  background-color: rgba(62, 118, 138, .9);
  color: #FFFFFF;
  border-radius: 22px;
  font-family: 'Coiny', cursive;
  font-size: 20px;
  padding: 10px;
}
